spring:
  application:
    name: lazybot-renewal
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: database-ul
    username: user
    password: password
    hikari:
      max-lifetime: 120000
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  web:
    resources:
      add-mappings: false
  threads:
    virtual:
      enabled: true

server:
  port: 1145

shiro:
  ws:
    server:
      enable: true
      url: /lazybot
    timeout: 10
    max-binary-message-buffer-size: 5120000
    max-text-message-buffer-size: 512000
  limiter:
    enable: true
    rate: 10
    capacity: 30
    awaitTask: true
    timeout: 10

discord:
  bot:
    key: discord_key
    id: discord_id
    secret: discord_secret
    token: discord_token

tencent:
  bot:
    id: tencent_official_id
    secret: tencent_official_secret
    token: tencent_official_token

lazybot:
  prefix: /
  client_id: osu_client_id
  response_type: code
  scopes: friends.read identify public
  client_secret: osu_client_secret
  grant_type: authorization_code
  plus:
    client_id: lazybot-plus-id
    client_password: lazybot-plus-password
  global:
    discord:
      enabled: false
    tencent:
      enabled: true
  test:
    path: windows_local_test_output_pat
    identity: windows_local_test_default_identity
    enabled: true
  command:
    whatif_calc_max_count: 200

async:
  executor:
    thread:
      core_pool_size: 5
      max_pool_size: 5
      queue_capacity: 1000
      name:
        prefix: api_request_pool-
#mybatis-plus:
#  configuration:
#    default-executor-type: REUSE
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

rate-limit:
  capacity: 24
  refill: 8
  enabled: true