<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.aloic.lazybot.osu.dao.mapper.AuthorityMapper">
    <resultMap id="BaseResultMap" type="me.aloic.lazybot.osu.dao.entity.po.AuthorityPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="qq_code" jdbcType="BIGINT" property="qq_code"/>
        <result column="level_of_authority" jdbcType="INTEGER" property="level_of_authority"/>
    </resultMap>
    <sql id = "Base_Column_List">
        id, qq_code, level_of_authority
    </sql>

    <select id="selectByQq" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select <include refid="Base_Column_List"/>
        from authorized_user
        where qq_code = #{qq_code,jdbcType=BIGINT}
    </select>


    <update id="updateAuthorityByQq" parameterType="me.aloic.lazybot.osu.dao.entity.po.AuthorityPO">
        update authorized_user
        <set>
            level_of_authority=#{level_of_authority},
        </set>
        where qq_code =#{qq_code,jdbcType=BIGINT}
    </update>


</mapper>
