<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.aloic.lazybot.osu.dao.mapper.BeatmapMapper">
        <resultMap id="BaseResultMap" type="me.aloic.lazybot.osu.dao.entity.po.BeatmapPO">
            <id column="bid" jdbcType="INTEGER" property="bid"/>
            <result column="sid" jdbcType="INTEGER" property="sid"/>
            <result column="cs" jdbcType="DOUBLE" property="cs"/>
            <result column="ar" jdbcType="DOUBLE" property="ar"/>
            <result column="hp" jdbcType="DOUBLE" property="hp"/>
            <result column="od" jdbcType="DOUBLE" property="od"/>
            <result column="star_vanilla" jdbcType="DOUBLE" property="star_vanilla"/>
            <result column="title" jdbcType="VARCHAR" property="title"/>
            <result column="artist" jdbcType="VARCHAR" property="artist"/>
            <result column="mapper" jdbcType="VARCHAR" property="mapper"/>
            <result column="version" jdbcType="VARCHAR" property="version"/>
            <result column="bpm" jdbcType="DOUBLE" property="bpm"/>
            <result column="length" jdbcType="INTEGER" property="length"/>
            <result column="mapStatus" jdbcType="VARCHAR" property="mapStatus"/>
            <result column="max_combo" jdbcType="INTEGER" property="max_combo"/>
            <result column="bg_url" jdbcType="VARCHAR" property="bg_url"/>


        </resultMap>
        <sql id = "Base_Column_List">
            bid, sid,cs,ar,hp,od,star_vanilla,title,artist,mapper,version,bpm,length,mapStatus,max_combo,bg_url,aim_star,spd_star,pp_aim,pp_spd,pp_acc
        </sql>

        <select id="selectByBid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
            select <include refid="Base_Column_List"/>
            from map_static
            where bid =#{bid}
        </select>
    <insert id="insert" parameterType="me.aloic.lazybot.osu.dao.entity.po.BeatmapPO">
        insert into map_static(bid, sid,cs,ar,hp,od,star_vanilla,title,artist,mapper,version,bpm,length,mapStatus,max_combo,bg_url)
        values(#{bid},#{sid},#{cs},#{ar},#{hp},#{od},#{star_vanilla},#{title},#{artist},#{mapper},#{version},#{bpm},#{length},#{mapStatus},#{max_combo},#{bg_url})
    </insert>


</mapper>
