<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.aloic.lazybot.osu.dao.mapper.BeatmapCompactMapper">
        <resultMap id="BaseResultMap" type="me.aloic.lazybot.osu.dao.entity.po.BeatmapCompactPO">
            <id column="id" jdbcType="INTEGER" property="id"/>
            <result column="bid" jdbcType="INTEGER" property="bid"/>
            <result column="sid" jdbcType="INTEGER" property="sid"/>
            <result column="max_combo" jdbcType="INTEGER" property="max_combo"/>
            <result column="ruleset_id" jdbcType="INTEGER" property="ruleset_id"/>
            <result column="hue" jdbcType="INTEGER" property="hue"/>
            <result column="check_sum" jdbcType="VARCHAR" property="check_sum"/>
            <result column="artist" jdbcType="VARCHAR" property="artist"/>
            <result column="title" jdbcType="VARCHAR" property="title"/>
            <result column="mapper" jdbcType="VARCHAR" property="mapper"/>
        </resultMap>
        <sql id = "Base_Column_List">
           id, bid, sid, max_combo, ruleset_id, hue, check_sum, artist, title, mapper
        </sql>

        <select id="selectByBid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
            select <include refid="Base_Column_List"/>
            from beatmap_static
            where bid =#{bid}
        </select>
        <select id="selectByBidAndRuleset" parameterType="map" resultMap="BaseResultMap">
            SELECT <include refid="Base_Column_List"/>
            FROM beatmap_static
            where bid =#{bid}
              AND ruleset_id = #{ruleset_id}
        </select>
        <update id="updateByBidAndRuleset" parameterType="map">
            UPDATE beatmap_static
            SET
                max_combo = #{user.max_combo},
                hue = #{user.hue},
                check_sum = #{user.check_sum},
                artist = #{user.artist},
                title = #{user.title},
                mapper = #{user.mapper}
            where bid =#{bid}
              AND ruleset_id = #{ruleset_id}
        </update>

</mapper>
